html, body{
padding: 0%;
margin: 0%;
}
nav ul{
display: flex;
flex-direction: row;
justify-content: flex-end;
padding: 0%;
margin: 0%;
gap: 10px;
list-style: none;
text-decoration: none;
}
nav img{
padding: 0%;
height: 100px;
width: 100px;
}
h1{
    display: flex;
}
header{
    padding: 0%;
    margin: 0%;
}
.boutton{
    background: black;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    height: 60px;
    width: 160px;
    color: white;
    white-space: nowrap;
}
.card-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
}