@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
   flex-direction: column;
   align-items: center;
   gap: 56px;
   font-family: "Poppins", sans-serif;
}

h1, h2{
   text-align: center;
   text-transform: uppercase;
}

section{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.buttons-container{
   display: flex;
   align-items: center;
   gap: 16px;
}


.button{
   display: flex;
   text-decoration: none;
   color: white;
   border-radius: 8px;
   width: fit-content;
   height: fit-content;
   padding: 8px 16px;
   border: 2px solid white;
   transition: all .3s ease-in-out;
}

.button.primary{
   background: black;
   color: white;
}


.avatar{
   width: 56px;
   height: 56px;
   border-radius: 100%;
   border: 2px solid black;
}

.link{
   font-weight: 500;
   color: white;
}

.card{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 8px;
   background: blueviolet;
   padding: 32px;
   border-radius: 16px;
   color: white;
   text-transform: uppercase;
   font-weight: 500;
   box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2);
   transition: all .6s ease-in-out;
}

.card p{
   margin: 0;
}

.card img{
   width: 100%;
   object-fit: cover;
}

.card:hover{
   transform: scale(.99);
   transform-origin: center;
   box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2)
}

.hero{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   background-image: url("images/cutedog.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.hero .titles{
   opacity: 0;
   transition: all .6s ease-in-out;
}

.hero h1, .hero h2{
   margin: 0;
   color: white;
}

.hero:hover .titles{
   opacity: 1;
}