/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   background: #DCDAD6;
}

a{
   text-decoration: none;
}
nav{
   background: white;
   display: flex;
   /* width: 100%; */
   justify-content: space-between;
   align-items: center;
   padding: 16px 32px;
   box-shadow: 0px -5px 12px 7px #464646;
}

nav img{
width: 20px;
}

#logo{
   display: flex;
   align-items: center;
   gap: 16px;
   color: black;
}

#logo img{
   height: 56px;
   width: 56px;
}

nav ul{
   display: flex;
   gap: 16px;
   list-style: none;
   padding: 0;
   margin: 0;
}


.cards-container{
   display: flex;
   gap: 16px;
   padding:32px;
}

.card{
   background: white;
   color: black;
   padding: 0;
   overflow: hidden;
   gap: 0;
   text-transform: none;
   font-weight: 400;
}

.card .card-image{
   width: 100%;
   height: 200px;
   object-fit: cover;
}

.card-information{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 16px;
   gap: 8px;
}

.card-reference{
   display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.card-reference h2, .card-reference h3{
   margin: 0;
}

.card-reference h3{
   font-size: small;
   color: blueviolet;
}

.card-information p{
   font-size: 14px;
}

.card-information .button{
   width: -webkit-fill-available;
   justify-content: center;
}

footer{
   display: flex;
   align-items: center;
   justify-content: center;
}